[submodule "user-auth"]
	path = user-auth
	url = git@github.com:Taller-de-programacion-2-Grupo-14/user-auth.git
[submodule "cursos"]
	path = cursos
	url = https://github.com/Taller-de-programacion-2-Grupo-14/cursos.git
[submodule "ubademy-exams"]
	path = ubademy-exams
	url = https://github.com/Taller-de-programacion-2-Grupo-14/ubademy-exams
